@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");

.text-box {
  font-family: "Ubuntu", sans-serif;
  display: block;
  margin: 12%;
  margin-left: 22%;
  max-width: 35%;
  /* background-color: white; */
}

.hello {
  display: inline-block;
  border-radius: 5px;
  padding: 0.2% 2%;
  color: #3abcff;
  font-weight: bold;
  font-size: 1em;
  background-color: #ffffff;
  padding: 0.5% 1.5%;
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 10px solid #ffffff;
  margin-left: 4.3%;
  margin-top: -2px;
}

.heading {
  margin-top: -1%;
  color: #fff;
}

.heading h1 {
  font-size: 3.3em;
  font-weight: lighter;
  margin-bottom: 2%;
  margin-top: 0;
}
